<a [routerLink]="['/campeao/detalhe', campeao.id]">
  <div class="row profile">
    <div class="col-md-12">
      <div class="profile-sidebar">

        <div class="profile-userpic">
          <img [src]="campeao.urlImagem" class="img-responsive" alt="">
        </div>

        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            {{campeao.nome}}
          </div>
          <div class="profile-usertitle-job">
            {{campeao.titulo}}
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-12 ">
      <ul class="nav nav-justified">
        <li><a>Taxa Pick: {{campeao.taxaPick}}</a></li>
        <li><a>Taxa Vitória: {{campeao.taxaVitoria}}</a></li>
        <li><a>Taxa Ban: {{campeao.taxaBan}}</a></li>
      </ul>
      

      <table class="table lista-campeoes" width="100%">
        <thead>
          <tr>
            <th colspan="5" class="text-center">
              Melhores Jogadores
            </th>
          </tr>
          <tr>
            <th class="text-center">Colocação</th>
            <th class="text-center">Jogador</th>
            <th class="text-center">Taxa Pick</th>
            <th class="text-center">KDA</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jogadorCampeao of campeao.jogadores, let i = index">
            <td class="text-center">
              <div style="margin-top:10%;">
                {{i+1}}
              </div>
            </td>
            <td class="text-center">
              <div style="width:130px;">
                <img class="img-circle" [src]="jogadorCampeao.urlImagem" alt="" width="40px" height="40px" style="float:left"/>  
                  &nbsp; &nbsp;{{jogadorCampeao.nome}}
              </div>
            </td>
            <td class="text-center">
              {{jogadorCampeao.jogosEscolha}} vezes<br>
              {{jogadorCampeao.taxaWin}}% Vitória
            </td>
            <td class="text-center">
              {{jogadorCampeao.kda}} <br>
              {{jogadorCampeao.kill}}/{{jogadorCampeao.morte}}/{{jogadorCampeao.assistencia}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</a>